NODE_ENV=development
PORT=3000

MARIADB_ROOT_PASSWORD=root-password
MARIADB_DATABASE=database-name
MARIADB_USER=username
MARIADB_PASSWORD=user-password
MARIADB_HOST=localhost
MARIADB_PORT=3306

API_KEY=api-key

JWT_SECRET=jwt-secret
JWT_EXPIRES_IN=number