/* VARIABLES */
:root {
  /* max measures */
  --max-percentage: 100%;
  --max-dvh: 100dvh;
  /* 'windows__menu' display */
  --windows-menu: none;
  /* 'windows__sign' display */
  --windows-sign: none;
  /* 'summary__view' display */
  --summary-view: grid;
  /* 'full__view' display */
  --full-view: none;
  /* 'sign__in' display */
  --sign-in: grid;
  /* 'sign__up' display */
  --sign-up: none;
  /* 'file__explorer' display */
  --file-explorer: none;
}

/* FONTS */
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-VariableFont_wdth\,wght.ttf");
}

/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans";
}

/* WINDOWS */
.windows {
  width: var(--max-percentage, 100%);
  height: var(--max-dvh, 100dvh);

  display: grid;
  grid-template-rows: 1fr auto;

  background-image: radial-gradient(#1c98fc, #010b19);

  overflow: hidden;

  &:has([id="windows__checkbox"]:checked) {
    --windows-menu: grid;
  }

  &:has([id="user__checkbox"]:checked) {
    --windows-sign: grid;
  }

  &:has([id="explorer__checkbox"]:checked) {
    --file-explorer: grid;
  }

  .windows__desktop {
    position: relative;

    padding: 1rem;

    .windows__menu {
      position: absolute;
      bottom: 0;
      left: 50%;

      z-index: 1;

      aspect-ratio: 9/11;
      height: clamp(650px, 75%, 850px);

      display: var(--windows-menu);
      grid-template-rows: auto 1fr auto;

      margin-bottom: 1.5rem;

      background-color: rgba(41, 41, 41, 0.6);
      backdrop-filter: blur(10px);

      border: 1px solid rgba(255, 255, 255, 0.15);
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;

      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);

      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);

      &:has([id="all__checkbox"]:checked) {
        --summary-view: none;
        --full-view: block;
      }

      &:has([id="back__checkbox"]:checked) {
        --summary-view: grid;
        --full-view: none;
      }

      #windows__search {
        padding: 0.35rem 0.8rem;
        margin: 1.9rem 1.5rem 0.85rem 1.5rem;

        color: #fff;
        background-color: rgba(41, 41, 41, 0.8);

        outline: none;
        border: 1px solid rgba(255, 255, 255, 0.15);
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;

        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      }

      .summary__view {
        display: var(--summary-view);
        grid-template-rows: 1fr 0.45fr;

        .pinned,
        .recommended {
          padding: 1.5rem 2rem 1rem 2rem;
          margin: 0 1.5rem 0 1.5rem;

          & h5 {
            color: #fff;

            text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          }
        }

        .pinned {
          .pinned__header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .all__button {
              position: relative;
              width: fit-content;
              height: fit-content;

              display: grid;
              place-items: center;

              & div {
                width: 48.86px;
                height: 25px;

                padding: 0.25rem 0.5rem;

                color: #fff;
                background-color: rgba(255, 255, 255, 0.05);

                font-size: 11.5px;

                border: 1px solid rgba(255, 255, 255, 0.15);
                border-radius: 4px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;

                & span {
                  padding-left: 0.5rem;
                }
              }

              #all__checkbox {
                position: absolute;

                width: 48.86px;
                height: 25px;

                opacity: 0;

                cursor: pointer;
              }
            }
          }
        }
      }

      .full__view {
        display: var(--full-view);

        padding: 1.5rem 2rem 1rem 2rem;
        margin: 0 1.5rem 0 1.5rem;

        & h5 {
          color: #fff;

          text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }

        .view__header {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .back__button {
            position: relative;
            width: fit-content;
            height: fit-content;

            display: grid;
            place-items: center;

            & div {
              width: 61.16px;
              height: 25px;

              padding: 0.25rem 0.5rem;

              color: #fff;
              background-color: rgba(255, 255, 255, 0.05);

              font-size: 11.5px;

              border: 1px solid rgba(255, 255, 255, 0.15);
              border-radius: 4px;
              -webkit-border-radius: 4px;
              -moz-border-radius: 4px;
              -ms-border-radius: 4px;
              -o-border-radius: 4px;

              & span {
                padding-right: 0.5rem;
              }
            }

            #back__checkbox {
              position: absolute;

              width: 61.16px;
              height: 25px;

              opacity: 0;

              cursor: pointer;
            }
          }
        }
      }

      .user__bar {
        padding: 1rem 2.5rem;

        background-color: rgba(0, 0, 0, 0.25);

        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        .user {
          position: relative;
          width: fit-content;
          height: fit-content;

          display: grid;
          place-items: center;

          &:hover {
            .user__content {
              background-color: rgba(255, 255, 255, 0.15);
            }
          }

          .user__content {
            width: 176.8px;
            height: 38px;

            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0.8rem;

            padding: 0.25rem 0.75rem;

            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;

            .user__icon {
              width: 30px;
              height: 30px;

              display: grid;
              place-items: center;

              background-color: #e6e6e6;

              border-radius: 50%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;

              .user__figure {
                display: grid;
                place-items: center;
                gap: 0.135rem;

                .user__head {
                  width: 10px;
                  height: 10px;

                  background-color: rgba(41, 41, 41, 0.6);

                  border-radius: 50%;
                  -webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                  -ms-border-radius: 50%;
                  -o-border-radius: 50%;
                }

                .user__body {
                  width: 18px;
                  height: 8px;

                  background-color: rgba(41, 41, 41, 0.6);

                  border-radius: 50%;
                  -webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                  -ms-border-radius: 50%;
                  -o-border-radius: 50%;
                }
              }
            }

            & h5 {
              color: #fff;

              text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            }
          }

          #user__checkbox {
            position: absolute;

            width: 176.8px;
            height: 38px;

            opacity: 0;

            cursor: pointer;
          }
        }
      }
    }

    .windows__sign {
      position: absolute;
      bottom: 0;
      left: 48%;

      z-index: 2;

      aspect-ratio: 16/9;
      height: 250px;

      display: var(--windows-sign);
      grid-template-rows: auto 1fr;

      margin-bottom: 5.35rem;

      background-color: rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(25px);

      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);

      transform: translateX(-48%);
      -webkit-transform: translateX(-48%);
      -moz-transform: translateX(-48%);
      -ms-transform: translateX(-48%);
      -o-transform: translateX(-48%);

      &:has([id="click__here__button"]:checked) {
        --sign-in: none;
        --sign-up: grid;
      }

      &:has([id="back__sign__in__checkbox"]:checked) {
        --sign-in: grid;
        --sign-up: none;
      }

      @media (width > 1920px) {
        left: 45%;
        transform: translateX(-45%);
        -webkit-transform: translateX(-45%);
        -moz-transform: translateX(-45%);
        -ms-transform: translateX(-45%);
        -o-transform: translateX(-45%);
      }

      .microsoft {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        padding: 1rem;

        .windows__mini {
          width: 20px;
          height: 20px;

          display: grid;
          grid-template-areas:
            "red green"
            "blue yellow";
          gap: 0.125rem;

          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

          & div {
            &.red__mini {
              grid-area: "red";

              background-color: #f86d34;
            }

            &.green__mini {
              grid-area: "green";

              background-color: #95c409;
            }

            &.blue__mini {
              grid-area: "blue";

              background-color: #09b7f1;
            }

            &.yellow__mini {
              grid-area: "yellow";

              background-color: #fec409;
            }
          }
        }

        & span {
          color: #fff;

          text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }
      }

      .sign__in {
        display: var(--sign-in);
        grid-template-rows: 1fr auto;

        padding: 0.25rem 1rem 1rem 1rem;

        & form {
          display: grid;
          grid-template-rows: auto auto;

          padding-bottom: 1rem;

          & fieldset {
            width: var(--max-percentage);

            display: flex;
            flex-direction: column;
            gap: 1rem;

            margin: 0 auto;

            border: none;

            & fieldset {
              display: grid;
              grid-template-areas: "input";

              & input {
                grid-area: input;

                padding: 0.35rem 0.8rem;

                background-color: rgba(41, 41, 41, 0.8);
                color: #fff;

                outline: none;
                border: 1px solid rgba(255, 255, 255, 0.15);
                border-radius: 1rem;
                -webkit-border-radius: 1rem;
                -moz-border-radius: 1rem;
                -ms-border-radius: 1rem;
                -o-border-radius: 1rem;

                box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

                &:focus + label,
                &:not(:placeholder-shown) + label {
                  display: none;
                }
              }

              & label {
                grid-area: input;

                padding: 0.35rem 0.8rem;

                color: #fff;
              }
            }

            .password__container {
              display: flex;
              align-items: center;

              background-color: rgba(41, 41, 41, 0.8);

              border: 1px solid rgba(255, 255, 255, 0.15);
              border-radius: 1rem;
              -webkit-border-radius: 1rem;
              -moz-border-radius: 1rem;
              -ms-border-radius: 1rem;
              -o-border-radius: 1rem;

              border-radius: 1rem;
              -webkit-border-radius: 1rem;
              -moz-border-radius: 1rem;
              -ms-border-radius: 1rem;
              -o-border-radius: 1rem;

              box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

              & input {
                background-color: transparent;

                border: none;

                box-shadow: none;
              }

              .eye {
                position: relative;

                height: 33.19px;

                display: grid;
                place-items: center;

                padding: 0.35rem 0.8rem;

                background-color: rgba(0, 0, 0, 0.25);

                border: none;
                border-left: 1px solid rgba(0, 0, 0, 0.1);
                border-top-right-radius: 1rem;
                border-bottom-right-radius: 1rem;

                cursor: pointer;

                .iris {
                  width: 22px;
                  height: 13px;

                  background-color: #fff;

                  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);

                  border-radius: 50%;
                  -webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                  -ms-border-radius: 50%;
                  -o-border-radius: 50%;
                }

                .pupil {
                  position: absolute;

                  width: 8.5px;
                  height: 8.5px;

                  background-color: rgba(0, 0, 0, 0.6);

                  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);

                  border-radius: 50%;
                  -webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                  -ms-border-radius: 50%;
                  -o-border-radius: 50%;
                }
              }
            }
          }

          .sign__in__button {
            padding: 0.35rem 0.8rem;
            margin-top: 1rem;

            color: #fff;
            background-color: rgba(255, 255, 255, 0.05);

            text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

            border: 1px solid rgba(255, 255, 255, 0.15);
            border-radius: 1rem;
            -webkit-border-radius: 1rem;
            -moz-border-radius: 1rem;
            -ms-border-radius: 1rem;
            -o-border-radius: 1rem;

            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

            cursor: pointer;
          }
        }

        .register__warning {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;

          .warning__p1 {
            color: rgba(255, 255, 255, 0.5);

            text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

            text-align: center;
            font-style: italic;
          }

          .warning__p2 {
            position: relative;

            width: fit-content;
            height: fit-content;

            display: grid;
            place-items: center;

            color: #fff;

            text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

            text-align: center;
            font-style: italic;

            #click__here__button {
              position: absolute;

              width: 70px;
              height: 18px;

              opacity: 0;

              cursor: pointer;
            }
          }
        }
      }

      .sign__up {
        display: var(--sign-up);
        grid-template-rows: auto 1fr;

        padding: 0 1rem;

        .sign__up__header {
          display: flex;
          justify-content: right;
          align-items: center;

          .back__sign__in {
            position: relative;

            width: fit-content;
            height: fit-content;

            display: grid;
            place-items: center;

            & div {
              display: flex;
              align-items: center;
              gap: 0.25rem;

              & p {
                color: #fff;

                font-size: 12px;

                text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
              }
            }

            #back__sign__in__checkbox {
              position: absolute;

              width: 37.58px;
              height: 17px;

              opacity: 0;

              cursor: pointer;
            }
          }
        }
      }
    }

    .file__explorer {
      position: absolute;
      top: 50%;
      left: 50%;

      z-index: 0;

      width: clamp(750px, 75%, 1920px);
      aspect-ratio: 16/9;

      display: var(--file-explorer);
      grid-template-rows: auto 1fr;

      background-color: rgba(0, 12, 33, 0.8);
      backdrop-filter: blur(20px);

      border: 1px solid rgba(255, 255, 255, 0.15);
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;

      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);

      transform: translateY(-50%) translateX(-50%);
      -webkit-transform: translateY(-50%) translateX(-50%);
      -moz-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
      -o-transform: translateY(-50%) translateX(-50%);

      @media (width <= 1024px) {
        aspect-ratio: 16/16;
      }

      .explorer__header {
        display: grid;
        grid-template-areas:
          "tabs"
          "url";

        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
        -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));

        .tabs {
          grid-area: tabs;

          display: flex;
          align-items: center;
          gap: 0.06055rem;

          .home__tab,
          .gallery__tab {
            position: relative;

            width: fit-content;
            height: fit-content;

            display: grid;
            place-items: center;

            padding: 0.25rem 2rem;

            margin-top: 0.5rem;

            background-color: #181f2c;

            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            #home__tab__checkbox,
            #gallery__tab__checkbox {
              position: absolute;

              z-index: 1;

              width: 110.09px;
              height: 27px;

              opacity: 0;

              cursor: pointer;

              &:hover ~ p {
                color: #fff;
              }
            }

            & p {
              color: rgba(255, 255, 255, 0.5);

              font-size: 14px;

              text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            }
          }

          .home__tab {
            margin-left: 0.5rem;
          }
        }

        .explorer__header__content {
          display: flex;
          align-items: center;

          background-color: #181f2c;

          .content__arrows__container {
            display: flex;
            align-items: center;
          }
        }
      }

      .explorer__content {
        z-index: 1;

        display: grid;
        grid-template-areas:
          "header header"
          "aside content";
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;

        background-color: #1a1b1b;

        border-top: 1px solid rgba(255, 255, 255, 0.15);
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;

        .content__header {
          grid-area: header;

          border-bottom: 1px solid rgba(255, 255, 255, 0.15);

          .header__controls {
            display: flex;
            align-items: center;

            padding: 0.5rem 0;

            .new__button__container {
              position: relative;

              width: fit-content;
              height: fit-content;

              display: grid;
              place-items: center;

              .new__button {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                padding: 0.5rem 1.5rem;

                border-right: 1px solid rgba(255, 255, 255, 0.15);

                .new__button__icon {
                  width: 23.9px;
                  height: 23.9px;

                  display: grid;
                  place-items: center;

                  color: rgba(9, 183, 241, 0.5);

                  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

                  border: 1px solid rgba(255, 255, 255, 0.5);
                  border-radius: 50%;
                  -webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                  -ms-border-radius: 50%;
                  -o-border-radius: 50%;

                  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                }

                .new__button__text__container {
                  display: flex;
                  align-items: center;
                  gap: 0.35rem;

                  .new__button__text {
                    color: rgba(255, 255, 255, 0.5);

                    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

                    font-size: 13px;
                  }

                  .new__button__symbol {
                    color: rgba(255, 255, 255, 0.5);

                    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

                    font-size: 13px;

                    transform: rotate(-90deg);
                    -webkit-transform: rotate(-90deg);
                    -moz-transform: rotate(-90deg);
                    -ms-transform: rotate(-90deg);
                    -o-transform: rotate(-90deg);
                  }
                }
              }

              #new__button__checkbox {
                position: absolute;

                z-index: 1;

                width: 120.2px;
                height: 39px;

                opacity: 0;

                cursor: pointer;

                &:hover ~ .new__button {
                  .new__button__icon {
                    color: #09b7f1;

                    border: 1px solid #fff;
                  }

                  .new__button__text__container {
                    .new__button__text {
                      color: #fff;
                    }

                    .new__button__symbol {
                      color: #fff;
                    }
                  }
                }
              }
            }

            .tools__container {
              display: flex;
              align-items: center;

              .tools__first__level {
                display: flex;
                align-items: center;

                padding-right: 1.15rem;

                border-right: 1px solid rgba(255, 255, 255, 0.15);

                .scissors__container {
                  position: relative;

                  width: fit-content;
                  height: fit-content;

                  display: grid;
                  place-items: center;

                  #scissors__checkbox {
                    position: absolute;

                    z-index: 1;

                    width: 56px;
                    height: 39px;

                    opacity: 0;

                    cursor: pointer;

                    &:hover ~ .scissors {
                      .scissors__part1 {
                        .part1__line {
                          background-color: #fff;
                        }

                        .part1__circle {
                          border: 2px solid #09b7f1;
                        }
                      }

                      .scissors__part2 {
                        .part2__line {
                          background-color: #fff;
                        }

                        .part2__circle {
                          border: 2px solid #09b7f1;
                        }
                      }
                    }
                  }

                  .scissors {
                    position: relative;

                    width: fit-content;
                    height: fit-content;

                    display: grid;
                    place-items: center;

                    padding: 0.5rem 1.5rem;

                    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
                    -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));

                    .scissors__part1 {
                      position: absolute;

                      display: grid;
                      place-items: center;

                      transform: rotate(30deg) translateX(-1.5px);
                      -webkit-transform: rotate(30deg) translateX(-1.5px);
                      -moz-transform: rotate(30deg) translateX(-1.5px);
                      -ms-transform: rotate(30deg) translateX(-1.5px);
                      -o-transform: rotate(30deg) translateX(-1.5px);

                      .part1__line {
                        width: 2px;
                        height: 15px;

                        background-color: rgba(255, 255, 255, 0.5);
                      }

                      .part1__circle {
                        width: 8px;
                        height: 8px;

                        border: 2px solid rgba(9, 183, 241, 0.5);
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                      }
                    }

                    .scissors__part2 {
                      display: grid;
                      place-items: center;

                      transform: rotate(-30deg) translateX(1.5px);
                      -webkit-transform: rotate(-30deg) translateX(1.5px);
                      -moz-transform: rotate(-30deg) translateX(1.5px);
                      -ms-transform: rotate(-30deg) translateX(1.5px);
                      -o-transform: rotate(-30deg) translateX(1.5px);

                      .part2__line {
                        width: 2px;
                        height: 15px;

                        background-color: rgba(255, 255, 255, 0.5);
                      }

                      .part2__circle {
                        width: 8px;
                        height: 8px;

                        border: 2px solid rgba(9, 183, 241, 0.5);
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                      }
                    }
                  }
                }

                .copy__button__container {
                  position: relative;

                  width: fit-content;
                  height: fit-content;

                  display: grid;
                  place-items: center;

                  #copy__checkbox {
                    position: absolute;

                    z-index: 1;

                    width: 31px;
                    height: 39px;

                    opacity: 0;

                    cursor: pointer;

                    &:hover ~ .copy__button {
                      .part1__square {
                        border: 2px solid #fff;
                      }

                      .part2__square {
                        border: 2px solid #09b7f1;
                      }
                    }
                  }

                  .copy__button {
                    position: relative;

                    width: fit-content;
                    height: fit-content;

                    display: grid;
                    place-items: center;

                    padding: 0.5rem;

                    .part1__square,
                    .part2__square {
                      width: 14px;
                      height: 18px;

                      background-color: #181f2c;

                      border-radius: 4px;
                      -webkit-border-radius: 4px;
                      -moz-border-radius: 4px;
                      -ms-border-radius: 4px;
                      -o-border-radius: 4px;

                      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                    }

                    .part1__square {
                      border: 2px solid rgba(255, 255, 255, 0.5);
                    }

                    .part2__square {
                      position: absolute;
                      border: 2px solid rgba(9, 183, 241, 0.5);
                      transform: translateY(-5px) translateX(7px);
                      -webkit-transform: translateY(-5px) translateX(7px);
                      -moz-transform: translateY(-5px) translateX(7px);
                      -ms-transform: translateY(-5px) translateX(7px);
                      -o-transform: translateY(-5px) translateX(7px);
                    }
                  }
                }

                .clipboard__container {
                  position: relative;

                  width: fit-content;
                  height: fit-content;

                  display: grid;
                  place-items: center;

                  padding: 0.5rem 1.4rem;

                  #clipboard__checkbox {
                    position: absolute;

                    z-index: 1;

                    width: 64.78px;
                    height: 39px;

                    opacity: 0;

                    cursor: pointer;

                    &:hover ~ .clipboard {
                      .clipboard__part1 {
                        border: 2px solid #fff;

                        .clipboard__part1__square {
                          border: 2px solid #fff;
                        }
                      }

                      .clipboard__part2 {
                        border: 2px solid #09b7f1;
                      }
                    }
                  }

                  .clipboard {
                    position: relative;

                    width: fit-content;
                    height: fit-content;

                    display: grid;
                    place-items: center;

                    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
                    -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));

                    .clipboard__part1,
                    .clipboard__part1__square,
                    .clipboard__part2 {
                      border-radius: 4px;
                      -webkit-border-radius: 4px;
                      -moz-border-radius: 4px;
                      -ms-border-radius: 4px;
                      -o-border-radius: 4px;
                    }

                    .clipboard__part1 {
                      position: relative;

                      width: 20px;
                      height: 22px;

                      border: 2px solid rgba(255, 255, 255, 0.5);

                      .clipboard__part1__square {
                        position: absolute;
                        top: -3.5px;
                        left: 50%;

                        width: 12.5px;
                        height: 5.5px;

                        background-color: #181f2c;

                        border: 2px solid rgba(255, 255, 255, 0.5);

                        transform: translateX(-50%);
                        -webkit-transform: translateX(-50%);
                        -moz-transform: translateX(-50%);
                        -ms-transform: translateX(-50%);
                        -o-transform: translateX(-50%);

                        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                      }
                    }

                    .clipboard__part2 {
                      position: absolute;
                      bottom: -2px;
                      right: -2px;

                      width: 12.5px;
                      height: 16px;

                      background-color: #181f2c;

                      border: 2px solid rgba(9, 183, 241, 0.5);

                      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                    }
                  }
                }

                .rename__button__container {
                  position: relative;

                  width: fit-content;
                  height: fit-content;

                  display: grid;
                  place-items: center;

                  padding: 0.5rem 0.225rem;

                  #rename__checkbox {
                    position: absolute;

                    z-index: 1;

                    width: 32.19px;
                    height: 39px;

                    opacity: 0;

                    cursor: pointer;

                    &:hover ~ .rename__button {
                      border: 2px solid #fff;

                      .rename__button__letter {
                        color: #09b7f1;
                      }

                      .rename__button__bar__h1,
                      .rename__button__bar__v1,
                      .rename__button__bar__h2 {
                        background-color: #09b7f1;
                      }
                    }
                  }

                  .rename__button {
                    position: relative;

                    width: 25px;
                    height: 18px;

                    display: grid;
                    place-items: center;

                    border: 2px solid rgba(255, 255, 255, 0.5);
                    border-radius: 4px;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    -ms-border-radius: 4px;
                    -o-border-radius: 4px;

                    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
                    -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));

                    .rename__button__letter {
                      position: absolute;
                      left: 2px;

                      color: rgba(9, 183, 241, 0.5);

                      font-size: 13px;
                      font-weight: 700;
                    }

                    .rename__button__bar {
                      position: absolute;
                      right: 4.25px;

                      display: grid;
                      place-items: center;

                      filter: drop-shadow(0 0 2.5px rgba(0, 0, 0, 0.6));
                      -webkit-filter: drop-shadow(0 0 2.5px rgba(0, 0, 0, 0.6));

                      .rename__button__bar__h1,
                      .rename__button__bar__v1,
                      .rename__button__bar__h2 {
                        background-color: rgba(9, 183, 241, 0.5);
                      }

                      .rename__button__bar__h1,
                      .rename__button__bar__h2 {
                        width: 6px;
                        height: 2px;
                      }

                      .rename__button__bar__v1 {
                        width: 2px;
                        height: 21px;
                      }
                    }
                  }
                }
              }

              .tools__second__level {
                display: flex;
                align-items: center;

                padding-right: 1rem;

                border-right: 1px solid rgba(255, 255, 255, 0.15);

                .sort__button__container {
                  position: relative;

                  width: fit-content;
                  height: fit-content;

                  display: grid;
                  place-items: center;

                  #sort__checkbox {
                    position: absolute;

                    z-index: 1;

                    width: 95.7px;
                    height: 39px;

                    opacity: 0;

                    cursor: pointer;

                    &:hover ~ .sort__button {
                      .arrows__container {
                        .arrow__up {
                          color: #fff;
                        }

                        .arrow__down {
                          color: #09b7f1;
                        }
                      }

                      .sort__button__text__container {
                        .sort__button__text,
                        .sort__button__symbol {
                          color: #fff;
                        }
                      }
                    }
                  }

                  .sort__button {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    padding: 0.5rem 1.1rem;

                    .arrows__container {
                      display: flex;
                      align-items: center;

                      .arrow__up,
                      .arrow__down {
                        text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                      }

                      .arrow__up {
                        color: rgba(255, 255, 255, 0.5);
                      }

                      .arrow__down {
                        color: rgba(9, 183, 241, 0.5);
                      }
                    }

                    .sort__button__text__container {
                      display: flex;
                      align-items: center;
                      gap: 0.25rem;

                      .sort__button__text,
                      .sort__button__symbol {
                        color: rgba(255, 255, 255, 0.5);

                        font-size: 13px;

                        text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                      }

                      .sort__button__symbol {
                        transform: rotate(-90deg);
                        -webkit-transform: rotate(-90deg);
                        -moz-transform: rotate(-90deg);
                        -ms-transform: rotate(-90deg);
                        -o-transform: rotate(-90deg);
                      }
                    }
                  }
                }

                .view__button__container {
                  position: relative;

                  width: fit-content;
                  height: fit-content;

                  display: grid;
                  place-items: center;

                  #view__button__checkbox {
                    position: absolute;

                    z-index: 1;

                    width: 102.27px;
                    height: 39px;

                    opacity: 0;

                    cursor: pointer;

                    &:hover ~ .view__button {
                      .list__icon {
                        .list__element1,
                        .list__element2 {
                          .element1__circle,
                          .element2__circle {
                            border: 1px solid #fff;
                          }

                          .element1__line,
                          .element2__line {
                            background-color: #fff;
                          }
                        }
                      }

                      .view__button__text__container {
                        .view__button__text,
                        .view__button__symbol {
                          color: #fff;
                        }
                      }
                    }
                  }

                  .view__button {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    padding: 0.5rem;

                    .list__icon {
                      display: flex;
                      flex-direction: column;
                      gap: 0.15rem;

                      filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
                      -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));

                      .list__element1,
                      .list__element2 {
                        display: flex;
                        align-items: center;
                        gap: 0.2rem;

                        .element1__circle,
                        .element2__circle {
                          width: 6px;
                          height: 6px;

                          border: 1px solid rgba(255, 255, 255, 0.5);
                          border-radius: 50%;
                          -webkit-border-radius: 50%;
                          -moz-border-radius: 50%;
                          -ms-border-radius: 50%;
                          -o-border-radius: 50%;
                        }

                        .element1__line,
                        .element2__line {
                          width: 10px;
                          height: 1px;

                          background-color: rgba(255, 255, 255, 0.5);
                        }
                      }
                    }

                    .view__button__text__container {
                      display: flex;
                      align-items: center;
                      gap: 0.25rem;

                      .view__button__text,
                      .view__button__symbol {
                        color: rgba(255, 255, 255, 0.5);

                        font-size: 13px;

                        text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                      }

                      .view__button__symbol {
                        transform: rotate(-90deg);
                        -webkit-transform: rotate(-90deg);
                        -moz-transform: rotate(-90deg);
                        -ms-transform: rotate(-90deg);
                        -o-transform: rotate(-90deg);
                      }
                    }
                  }
                }
              }

              .points__container {
                position: relative;

                width: fit-content;
                height: fit-content;

                display: grid;
                place-items: center;

                #points__checkbox {
                  position: absolute;

                  z-index: 1;

                  width: 40px;
                  height: 39px;

                  opacity: 0;

                  cursor: pointer;

                  &:hover ~ .points {
                    .point {
                      background-color: #fff;
                    }
                  }
                }

                .points {
                  display: flex;
                  align-items: center;
                  gap: 0.25rem;

                  padding-left: 1.25rem;

                  .point {
                    width: 4px;
                    height: 4px;

                    background-color: rgba(255, 255, 255, 0.5);

                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;

                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                  }
                }
              }
            }
          }
        }

        .content__aside {
          grid-area: aside;

          border-right: 1px solid rgba(255, 255, 255, 0.15);

          .aside__navbar {
            .navbar__list {
              list-style: none;

              display: flex;
              flex-direction: column;
              gap: 0.5rem;

              padding: 0.75rem 0;

              &:last-child {
                border-top: 1px solid rgba(255, 255, 255, 0.15);
              }

              .list__element {
                padding: 0 2rem;

                & div {
                  & p {
                    color: #fff;

                    font-size: 13px;

                    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .windows__taskbar {
    display: grid;
    place-items: center;

    padding: 0.75rem;

    background-color: rgba(41, 41, 41, 0.6);
    backdrop-filter: blur(10px);

    border-top: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);

    .navbar {
      .navbar__list {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        list-style: none;

        .list__element {
          .windows__button {
            position: relative;
            width: fit-content;
            height: fit-content;

            display: grid;
            place-items: center;

            background-color: transparent;

            box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);

            #windows__checkbox {
              position: absolute;

              width: 30px;
              height: 30px;

              opacity: 0;

              cursor: pointer;
            }

            .square__container {
              width: 30px;
              height: 30px;

              display: grid;
              grid-template-areas:
                "red green"
                "blue yellow";
              gap: 0.125rem;

              & div {
                &.red {
                  grid-area: "red";

                  background-color: #f86d34;
                }

                &.green {
                  grid-area: "green";

                  background-color: #95c409;
                }

                &.blue {
                  grid-area: "blue";

                  background-color: #09b7f1;
                }

                &.yellow {
                  grid-area: "yellow";

                  background-color: #fec409;
                }
              }
            }
          }

          .file__explorer__button {
            position: relative;

            width: fit-content;
            height: fit-content;

            display: grid;
            place-items: center;

            box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);

            .explorer__container {
              display: grid;
              grid-template-rows: auto 1fr;

              .explorer__header {
                display: flex;
                align-items: end;

                .part__1,
                .part__2,
                .part__3 {
                  background-color: #fff5b3;

                  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                }

                .part__1 {
                  width: 12px;
                  height: 8px;

                  .green__square {
                    width: 3px;
                    height: 3px;

                    margin: 0.15rem 0.1rem;

                    background-color: #95c409;
                  }
                }

                .part__2 {
                  width: 11px;
                  height: 6px;

                  .red__square {
                    width: 3px;
                    height: 3px;

                    margin: 0.1rem;

                    background-color: #f86d34;
                  }
                }

                .part__3 {
                  width: 12px;
                  height: 4px;

                  .blue__square {
                    width: 3px;
                    height: 3px;

                    margin: 0.05rem 0.1rem;

                    background-color: #09b7f1;
                  }
                }
              }

              .first__part {
                position: relative;

                width: 35px;
                height: 22px;

                background-color: #fff5b3;

                box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

                .blue__part {
                  position: absolute;
                  bottom: -1px;
                  left: 50%;

                  width: 26px;
                  height: 13px;

                  background-color: #9bd1e1;

                  transform: translateX(-50%);
                  -webkit-transform: translateX(-50%);
                  -moz-transform: translateX(-50%);
                  -ms-transform: translateX(-50%);
                  -o-transform: translateX(-50%);

                  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

                  .yellow__part {
                    position: absolute;
                    bottom: 0;
                    left: 50%;

                    width: 10px;
                    height: 5px;

                    background-color: #fff5b3;

                    transform: translateX(-50%);
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    -o-transform: translateX(-50%);
                  }
                }
              }
            }

            #explorer__checkbox {
              position: absolute;

              width: 35px;
              height: 30px;

              opacity: 0;

              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

[data-windows-menu] {
  display: var(--windows-menu);
}

[data-windows-sign] {
  display: var(--windows-sign);
}

[data-summary-view] {
  display: var(--summary-view);
}

[data-full-view] {
  display: var(--full-view);
}

[data-sign-in] {
  display: var(--sign-in);
}

[data-sign-up] {
  display: var(--sign-up);
}

[data-file-explorer] {
  display: var(--file-explorer);
}
